<html>
<body>
    <main class="conteudoPrincipal">
        <div class="container">
            <h1>Menu Principal</h1>
            <br>
            <p><a href="/livros/form">Cadastrar Livro</a></p>
            <p><a href="/livros">Consultar Livro</a></p>
        </div>
    </main>
</body>
</html>