
* {  
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    background: #f8f8ff;
}

h1 {
    text-align: center;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1.1rem;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px !important;
    background-color: #6C63FF;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

.campo-vazio {
    border: 2px solid red;
    background: #FFD6D6;
}