*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bc-color:#f8f8ff;
    --cor-purple: #6C63FF;
    --cor-black: #000000;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/rainbow-vortex.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    margin: 50px;
    width: 90% !important;
}
th, td {
    background: transparent !important;
    border-color: var(--cor-black) !important;
}
td>a{
    color: var(--cor-black);
    margin-right: 25px;
}
#main-title{
    width: 100% !important;
    margin-top: 35px;
    text-align: center;
    font-weight: 700;
}

